.layout-content-wrapper {
    padding: 0 50px
}

.layout-content {
    padding: 24px 0;
    background: #fff
}

.page-content {
    padding: 0 24px;
    // min-height: calc(100vh - #{64px + 53px + 69px + 48px});
}

#components-layout-demo-custom-trigger {
    min-height: 100vh;
}

#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }

  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }

.ant-form-item label
{
  line-height: 1.2;
}
.ant-form-item-label
{
  line-height: 1.2!important;
}
.ant-form-item {
  margin-bottom: 10px!important;
}
.has-error .ant-form-explain {
  position: absolute;
  bottom: -14px;
}
.iframe-print{
  opacity:0;
  position: absolute;
  z-index: -1;
}
