.the-sider__logo {
    padding: 12px;
    display: block;
    background-color: #e0e2c6;

    img {
        width: 60%;
        display: block;
        max-width: 100%;
        margin: 0px auto;
    }

    .ant-menu-inline-collapsed & {
        padding: 12px;
        height: 48px;
    }
}